body, * {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

.header-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ed9dba;
    padding: 24px 72px;
}

.header-wrapper-title {
    color: #FFF;
    font-family: 'Arial';
}

@media screen and (min-width: 768px) {
    .main {
        padding: 24px 72px;
    }
}

@media screen and (max-width: 767px ) {
    .filter-company, 
    .filter-type {
        flex-basis: 23rem!important;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .main {
        padding: 42px 168px 32px;
    }
}

.body {
    padding: 30px 0px;
    background: #ed9dba;
    text-align: center;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: rgb(33 33 33 / 8%) 0px 4px 8px 0px;
}

.filter {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-company{
    flex-basis: 45rem;
    margin-right: 20px;
}

.filter-type{
    flex-basis: 20rem;
}

.no-job-found{
    text-align: center;
    background: #eee;
    padding: 60px;
    border-radius: 22px;
}